<style type="text/css">
	.form-style-7{
		max-width:400px;
		margin:50px auto;
		background:#fff;
		border-radius:2px;
		padding:20px;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	.form-style-7 h1{
		display: block;
		text-align: center;
		padding: 0;
		margin: 0px 0px 20px 0px;
		color: #5C5C5C;
		font-size:x-large;
	}
	.form-style-7 ul{
		list-style:none;
		padding:0;
		margin:0;
	}
	.form-style-7 li{
		display: block;
		padding: 9px;
		border:1px solid #DDDDDD;
		margin-bottom: 30px;
		border-radius: 3px;
	}
	.form-style-7 li:last-child{
		border:none;
		margin-bottom: 0px;
		text-align: center;
	}
	.form-style-7 li > label{
		display: block;
		float: left;
		margin-top: -19px;
		background: #FFFFFF;
		height: 17px;
		padding: 2px 5px 2px 5px;
		color: #B9B9B9;
		font-size: 14px;
		overflow: hidden;
		font-family: Arial, Helvetica, sans-serif;
	}
	.form-style-7 input[type="text"],
	.form-style-7 input[type="date"],
	.form-style-7 input[type="datetime"],
	.form-style-7 input[type="email"],
	.form-style-7 input[type="number"],
	.form-style-7 input[type="search"],
	.form-style-7 input[type="time"],
	.form-style-7 input[type="url"],
	.form-style-7 input[type="password"],
	.form-style-7 textarea,
	.form-style-7 select
	{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		display: block;
		outline: none;
		border: none;
		height: 25px;
		line-height: 25px;
		font-size: 16px;
		padding: 0;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	.form-style-7 input[type="text"]:focus,
	.form-style-7 input[type="date"]:focus,
	.form-style-7 input[type="datetime"]:focus,
	.form-style-7 input[type="email"]:focus,
	.form-style-7 input[type="number"]:focus,
	.form-style-7 input[type="search"]:focus,
	.form-style-7 input[type="time"]:focus,
	.form-style-7 input[type="url"]:focus,
	.form-style-7 input[type="password"]:focus,
	.form-style-7 textarea:focus,
	.form-style-7 select:focus
	{
	}
	.form-style-7 li > span{
		background: #fcbdbd;
		display: block;
		padding: 3px;
		margin: 0 -9px -9px -9px;
		text-align: center;
		color: #4b4b4b;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	.form-style-7 textarea{
		resize:none;
	}
	.form-style-7 input[type="submit"],
	.form-style-7 input[type="button"]{
		background: #2471FF;
		border: none;
		padding: 10px 20px 10px 20px;
		border-bottom: 3px solid #5994FF;
		border-radius: 3px;
		color: #D2E2FF;
	}
	.form-style-7 input[type="submit"]:hover,
	.form-style-7 input[type="button"]:hover{
		background: #6B9FFF;
		color:#fff;
	}
  .submitbutton{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
  }
  .submitbutton:hover{
    background: #6B9FFF;
    color:#fff;
  }

  .back{
    background: #e95353;
    border-bottom-color: #c75151;
  }
  .back:hover{
    background: #f57676

  }
</style>

{% extends "diaAbertoConf/Home.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container">
<h2>Notificações Recebidas</h2>
<div class="w3-responsive">
  <table class="w3-table-all">
    <tr>
      <th>Assunto</th>
      <th>Conteúdo</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Prioridade</th>
      <th>Remetente</th>
      <th>Apagar</th>
    </tr>
    {% for notf in info %}
    <tr>
      <td>{{notf.assunto}}</td>
      <td>{{notf.conteudo}}</td>
      <td>{{notf.data}}</td>
      <td>{{notf.hora_envio}}</td>
      {% if notf.prioridade == 1 %}
        <td>Urgente</td>
      {% endif %}
      {% if notf.prioridade == 2 %}
        <td>Alerta</td>
      {% endif %}
      {% if notf.prioridade == 3 %}
        <td>Lembrete</td>
      {% endif %}
      <td>{{notf.utilizadorid_envia.nome}}</td>
      <td>
          <a href="{% url 'deleteNotfRcb' notf.id %}" class="btn"><button>&#128465;</button></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>
<br>
<div class="w3-container">
<form action="/notificacoesEnv">
  <center>
    <button style="margin-top:30px" class="submitbutton">Ver Notificações Enviadas</button>
  </center>
</form>
</div>
<div class="w3-container">
<form action="/enviarnotf">
  <center>
    <button class="submitbutton" >Enviar Notificação</button>
  </center>
</form>
</div>
{% endblock %}
