#first_page {
  padding: 10px;
}

#first_page #left_side {
  float: left;
  background-color: #ffffff;
  height: 600px;
  width: 30%;
}

#left_side h6 {
  margin-top: 0px;
  text-align: left;
}

#left_side select {
  margin-top: 20px;
}

#search_icon {
  float: left;
  margin-left: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: gray;
}

#search {
  text-indent: 10px;
}

#search::placeholder {
  text-indent: 10px;
}

#first_page #table {
  float: right;
  width: 60%;
  height: 600px;
}

/*#hide_row {
  display: none;
}

#table #sub_details {
  display: none;
}/*

/* Subscribe Div */
#subscribe_div {
  width: 50%;
  height: 100%;
  margin-left: 150px;
}

#subscribe_div div {
  float: left;
  width: 30.33%;
}

#subscribe_div input {
  width: 100%;
  height: 44px;
  text-align: center;
}

#subscribe_div input[name='subs_less_btn'] {
  background-color: #db163a;
  color: #000000;
  text-align: center;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#subscribe_div input[name='subs_less_btn']:hover {
  background-color: #ff002e;
}

#subscribe_div input[name='subs_less_btn']:focus {
  border: none;
  outline: none;
}

#subscribe_div input[name='subs_plus_btn'] {
  background-color: #5692e2;
  color: #000000;
  text-align: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#subscribe_div input[name='subs_plus_btn']:hover {
  background-color: #166bdb;
}

#subscribe_div input[name='subs_plus_btn']:focus {
  border: none;
  outline: none;
}

/* More Filters Div */
#more_filters_div a {
  color: #000000;
}

#more_filters_div a:hover {
  text-decoration: none;
  cursor: pointer;
}

#more_filters_div i {
  margin-left: 40px;
}

#more_filters_div #less_filters {
  display: none;
}

#more_filters_div small {
  margin-left: 70px;
}

/* Filters */
#filters {
  display: none;
}

#filters input {
  width: 50%;
  height: 30px;
  margin-left: 100px;
  margin-top: 5px;
  border-color: #dbdbdb;
  color: #363636;
  border-radius: 5px;
}

#filters input:hover {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
  box-sizing: 1px;
}

#filters input:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
  box-sizing: 1px;
}

/* Session Filters */
#session_filters {
  width: 100%;
  height: 100px;
}

#session_filters h6 {
  margin-top: 10px;
  text-align: left;
}

#session_filters button {
  width: 45px;
  height: 32px;
  margin-bottom: 0px;
}

#session_filters button:focus {
  border: none;
  outline: none;
}

#session_filters #left_div {
  float: left;
  width: 50%;
  height: 100%;
}

#session_filters #left_div input {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: 16px;
}

#session_filters #right_div {
  float: right;
  width: 50%;
  height: 100%;
}

#session_filters #right_div input {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: 16px;
}

/* Minimus Vacancies */
#minus_vacancies {
  width: 80%;
  height: 80%;
  margin-top: 10px;
}

#minus_vacancies h4 {
  text-align: left;
}

#minus_vacancies div {
  float: left;
  width: 30.33%;
}

#minus_vacancies input {
  width: 100%;
  height: 30px;
  text-align: center;
}

#minus_vacancies input[name='decrease_btn'] {
  background-color: #db163a;
  color: #000000;
  text-align: center;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#minus_vacancies input[name='decrease_btn']:hover {
  background-color: #ff002e;
}

#minus_vacancies input[name='decrease_btn']:focus {
  border: none;
  outline: none;
}

#minus_vacancies input[name='increase_btn'] {
  background-color: #5692e2;
  color: #000000;
  text-align: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#minus_vacancies input[name='increase_btn']:hover {
  background-color: #166bdb;
}

#minus_vacancies input[name='increase_btn']:focus {
  border: none;
  outline: none;
}

/* Footer */
#footer {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  z-index: 10;
  margin-top: 700;
  position: relative;
  clear: both;
}

#footer h2 {
  text-align: left;
  font-size: 1.5rem;
}

/* Choiced Sessions Table */
#choiced_sessions p {
  margin-left: 20px;
}

i[title='delete'] {
  color: red;
}

i[title='delete']:hover {
  cursor: pointer;
}

input[name='save'] {
  background-color: #ee131a;
  color: #000000;
  width: 80px;
  height: 34px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

input[name='save']:hover {
  background-color: #db3c46;
  color: #0f0f0f;
}