{% extends "diaAbertoConf/ShowTransportes.html"%}

	{% block css%}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'diaAbertoConf/Transporte.css' %}">
	{% endblock%}

	{% block content %}
    	<div class="mt-3 mx-2 pb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:allTransportes' %}">Transportes</a></li>
					<li class="breadcrumb-item active">Adicionar transporte</li>
				</ol>
			</nav>
    	    <div class = "row">
    		    <div class = "col-sm-4 offset-sm-4">
                    <h4 style="text-align:center;">Adicionar transporte</h4>
    		    </div>
				<div class = "col-sm-4 offset-sm-4">
    		    {% if saved %}
                    <div class="alert alert-primary" role="alert" style="text-align:center;">
                        O Transporte foi guardado com sucesso!
                    </div>
                {% endif %}
            	</div>
            </div>
			<hr class="mx-5">
    	    <div class = "row">
    		    <div class = "col-sm-6 offset-sm-3 mt-5">
					<form action = "{% url 'diaAbertoConf:createTransporte' %}" method="post">
						{% csrf_token %}
						
 						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
    							<label>{{ transporteform.tipo_transporte.label }}</label>
							</div>
    						<div class="col-sm-8">
								{{ transporteform.tipo_transporte }}
    						</div>
  						</div>
  						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
    							<label>{{ transporteform.capacidade.label }}</label>
							</div>
    						<div class="col-sm-8">
      							{{ transporteform.capacidade }}
    						</div>
  						</div>
						{{rotaformset.management_form}}
						{% for rota in rotaformset %}
							
							<div class="rota-form-comp"> 
								<hr>
								{% for key, value in rota.errors.items %}
									{% for error in value %}
            							<div class="alert alert-danger" style="text-align:center;">
               								{{ error }}
            							</div>
									{% endfor%}
								{% endfor %}
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.origem.label}}</label>
									</div>
    								<div class="col-sm-8">
										{{ rota.origem }}
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.destino.label}}</label>
									</div>
    								<div class="col-sm-8">
										{{ rota.destino }}
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.data.label}}</label>
									</div>
    								<div class="col-sm-8">
										{{rota.data}}
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.horarioid.label}}</label>
									</div>
    								<div class="col-sm-8 multiselect">
										<div class="selectBox">
											<select class="form-control"><option>Selecione os horários</option></select>
											<div class="overSelect"></div>
										</div>
										<div id="checkboxes" class="checkboxes">
											{{rota.horarioid}}
    									</div>
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-10">
										<button class="remove-form-row btn btn-outline-danger mr-3">Remover Rota</button>
										<button class="add-form-row btn btn-outline-success">Adicionar Rota</button>
									</div>								
								</div>
							</div>
							
						{% endfor %}
						<hr>
						<div class="form-group row mt-5">
							<div class="col-sm-10">
								<a type="button" class="btn btn-secondary mr-3" href="{% url 'diaAbertoConf:allTransportes' %}">Cancelar</a>
								<button type="submit" class="btn btn-primary">Guardar</button>
							</div>
						</div>
					</form>
    		    </div>
    	    </div>
    	</div>

	{% endblock %}
	{% block js %}
		{% load static %}
		<script src={% static "diaAbertoConf/Transporte.js" %}></script>
	{% endblock %}	