{% extends "atividades/ShowAtividades.html" %}

	{% block content %}
    	<div class="mt-3 mx-2 mb-5 pb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
						<li class="breadcrumb-item"><a href="{% url 'atividades:allSessoes' %}">Horários de sessões</a></li>
					<li class="breadcrumb-item active">Editar horário de sessão</li>
				</ol>
			</nav>
    	    <div class = "row">
    		    <div class = "col-sm-4 offset-sm-4">
                    <h4 style="text-align:center;">Editar horário de sessão</h4>
    		    </div>
    		    <div class = "col-sm-4 offset-sm-4">
              {% for key, value in form.errors.items %}
                {% for error in value %}
                  <div class="alert alert-danger" style="text-align:center;">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endfor %}

              </div>
            </div>
    	    <hr class="mx-5">
    	    <div class = "row">
    		    <div class = "col-sm-6  offset-sm-3 mt-5">
					<form action = "{% url 'atividades:updateSessao'  id=sessao.id%}" method="post">
						{% csrf_token %}

  						<div class="form-group row mb-4 ">
    						<label for="hora_de_inicio" class="col-sm-4 col-form-label">Hora de início</label>

    						<div class="col-sm-8">
      							<input id="hora_de_inicio" type="time" name="hora_de_inicio" class="form-control" required value="{{sessao.hora_de_inicio|time:"H:i"}}">
    						</div>
  						</div>
						<div class="form-group row mt-5">
							<div class="col-sm-10">
								<a type="button" class="btn btn-secondary mr-3" href="{% url 'atividades:allSessoes' %}">Cancelar</a>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Alterar</button>
							</div>
						</div>
						<div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Aviso</h4>
                                          <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>
                                        
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          Tem a certeza que pretende guardar as alterações?
                                        </div>
                                        
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                          <button type="submit" class="btn btn-success">Sim</a>
                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                                        </div>        
                                      </div>
                                    </div>
                                  </div>
						</div>
					</form>
    		    </div>
    	    </div>
    	</div>
	{% endblock %}