{% extends "atividades/ShowAtividades.html" %}

	{% block content %}
    <div class="mt-3 mx-2 pb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
					<li class="breadcrumb-item"><a href="{% url 'atividades:allLocais' %}">Locais</a></li>
					<li class="breadcrumb-item active">Editar local</li>
				</ol>
			</nav>
    	<div class = "row">
    	  <div class = "col-sm-4 offset-sm-4">
          <h4 style="text-align:center;">Editar local</h4>
    	  </div>
    	  <div class = "col-sm-4 offset-sm-4">
          {% for key, value in form.errors.items %}
            {% for error in value %}
              <div class="alert alert-danger" style="text-align:center;">
                {{ error }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
			<hr class="mx-5">
    	<div class = "row">
    		<div class = "col-sm-6 offset-sm-3 mt-5">
					<form action = "{% url 'atividades:updateLocal' id=local.id %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
 						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
    						<label for="campusid">Campus</label>
							</div>
    					<div class="col-sm-8">
                <select name="campusid" id = "campusid" class = "form-control">
                {% for campus in allCampus %}
                {% if campus.id == local.campusid.id %}
                <option selected="selected" value="{{campus.id}}">{{campus.nome}}</option>
                {% else %}
                <option value="{{campus.id}}">{{campus.nome}}</option>
                {% endif %}
                {% endfor %}
                </select>
              </div>
  					</div>
  					<div class="form-group row">
						  <div class="col-sm-4 col-form-label">
    				  		<label for="nome">Interior</label>
						  </div>
    				  <div class="form-check col-sm-7">
                {% if local.indoor %}
                  &nbsp;&nbsp;&nbsp;&nbsp;<input class="show-indoor form-check-input" type="radio" value="True" id="indoor" name="indoor" checked>
                  <label class="form-check-label" for="Sim">Sim</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="hide-indoor form-check-input" type="radio" value="False" id="indoor" name="indoor">
                  <label class="form-check-label" for="Nao">Não</label>
                {% else %}
                  &nbsp;&nbsp;&nbsp;&nbsp;<input class="show-indoor form-check-input" type="radio" value="True" id="indoor" name="indoor">
                  <label class="form-check-label" for="Sim">Sim</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="hide-indoor form-check-input" type="radio" value="False" id="indoor" name="indoor" checked>
                  <label class="form-check-label" for="Nao">Não</label>
                {% endif %}
              </div>
  					</div>
            <div class="outdoor form-group row" {% if local.indoor %} style="display:none" {% endif %}>
              <div class="col-sm-4 col-form-label">
                <label for="descricao">Nome do local</label>
              </div>
              <div class="col-sm-8">
                <input {% if local.nome_local_exterior %} value="{{local.nome_local_exterior}}" {% endif %} id="nome_local_exterior" type="text" name="nome_local_exterior" class="form-control" required> 
              </div>
            </div>
  					<div class="form-group row">
						  <div class="col-sm-4 col-form-label">
    						<label for="descricao">Descrição</label>
						  </div>
    					<div class="col-sm-8">
                <textarea rows="5" cols="3"  id="descricao" type="text" name="descricao" class="form-control" required>{{local.descricao}}</textarea>
              </div>
  					</div>
            <div class="indoor form-group row" {% if not local.indoor %} style="display:none" {% endif %}>
              <label for="edificio" class="col-sm-4 col-form-label">Edifício</label>
              <div class="col-sm-8">
                <select name="edicifioid" id = "edicifioid" class = "form-control">
                  {% for edificio in allEdificios %}
                    {% if edificio.id == local.edicifioid.id %}
                      <option selected="selected" value="{{edificio.id}}">{{edificio.nome_edificio}}</option>
                    {% else %}
                      <option value="{{edificio.id}}">{{edificio.nome_edificio}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="indoor form-group row" {% if not local.indoor %} style="display:none" {% endif %}>
              <label for="andar" class="col-sm-4 col-form-label">Andar</label>
              <div class="col-sm-8">
                  <input id="andar" type="number" name="andar" class="form-control" value="{{local.andar}}" required>
              </div>
            </div>
            <div class="indoor form-group row" {% if not local.indoor %} style="display:none" {% endif %}>
              <label for="andar" class="col-sm-4 col-form-label">Sala</label>
              <div class="col-sm-8">
                  <input id="sala" type="text" name="sala" class="form-control" {% if local.sala %} value="{{local.sala}}" {% endif %} required>
              </div>
            </div>
            <div class="form-group row">
              <label for="mapa_sala" class="col-sm-4 col-form-label">Mapa</label>
              <div class="col-sm-8">
                  <input type="file" id="mapa_sala"  name="mapa_sala" accept="image/*">
              </div>
            </div>
            <div class="form-group row mt-5">
						  <div class="col-sm-10">
						  	<a type="button" class="btn btn-secondary mr-3" href="{% url 'atividades:allLocais' %}">Cancelar</a>
						  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Alterar</button>
						  </div>
						</div>
						<div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Aviso</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    Tem a certeza que pretende guardar as alterações?
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Sim</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                  </div>        
                </div>
              </div>
            </div>
					</form>
    		</div>
    	</div>
    </div>

	{% endblock %}
  {% block js %}
  
  <script type="text/javascript">
        $(document).on('click', '.show-indoor', function(){
            $('.indoor').show();
            getEdificios();
            $('.outdoor').hide();
            $('.outdoor').find('input').prop('required', false);
            $('.indoor').find('input, select').prop('required', true);
        });
        $(document).on('click', '.hide-indoor', function(){
            $('.indoor').hide();
            $('.outdoor').show();
            $('.outdoor').find('input').prop('required', true);
            $('.indoor').find('input, select').prop('required', false);
        });

        function getEdificios(){
           $('select[name=edicifioid]').find('option').each(function(){
                    $(this).remove();
                })
                campusid = $('select[name=campusid]').val();
                console.log(campusid);
                request_url = '/GestaoAtividades/getEdificio/' + campusid;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        $.each(data, function(index, text){
                            $('select[name=edicifioid]').append(
                                $('<option></option>').val(index).html(text)
                            )
                        })
                    },
                });
        }
        $('select[name=campusid]').change(function(){
              getEdificios(); 
            })

        $(document).ready(function(){
            if($('.show-indoor').is(':checked')){
              $('.outdoor').find('input').prop('required', false);
              $('.indoor').find('input, select').prop('required', true);
            }else if($('.hide-indoor').is(':checked')){
              $('.outdoor').find('input').prop('required', true);
              $('.indoor').find('input, select').prop('required', false);
            }
        })
    </script>

    {% endblock %}
