{% extends "atividades/ShowAtividades.html" %}

	{% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static "atividades/showGestao.css" %}">
    {% endblock %}

	{% block content %}
    	<div class = "row mx-4 my-4">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<p class="text-muted">Filtros Edifícios</p>
				<form id="formfilters" method="get">
                    <input id="id_page" name="page" value="{{page_obj.number}}" type="hidden">
                    <input id="id_order_by" name="order_by" {% if order_by %} value="{{order_by}}" {% endif %} type="hidden">
                    <input id="id_direction" name="direction" {% if direction %} value="{{direction}}" {% endif %} type="hidden">
					<hr>
					<div class="form-group row">
						<div class="col">
							<div class="float-right">
						  		<a href="{% url 'atividades:allEdificios' %}">Limpar filtros</a>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="input-group">
						  <div class="input-group-prepend">
						  	<span class="input-group-text"><i class="fas fa-search"></i></span>
						  </div>
						  <input {% if nome_edificio %} value="{{nome_edificio}}" {% endif %} name="nome_edificio" id="id_nome_edificio" type="text" class="form-control" placeholder="Pesquisar por nome">
						</div>
					</div>
					<div class="form-group row">
						<div class="input-group">
						  <div class="input-group-prepend">
						  	<span class="input-group-text"><i class="fas fa-search"></i></span>
						  </div>
						  <input {% if campusid__nome %} value="{{campusid__nome}}" {% endif %} name="campusid__nome" id="id_campusid__nome" type="text" class="form-control" placeholder="Pesquisar por campus">
						</div>
					</div>
					<hr>
					<div class="form-group row float-right">
						<button class="btn btn-outline-primary" type="submit"><i class="fas fa-search fa-sm"></i> Procurar</button>
					</div>
				</form>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-white">
						<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
						<li class="breadcrumb-item active">Edifícios</li>
					</ol>
				</nav>

				<a type="button" class="btn btn-outline-success mr-2 mb-4" href="{% url 'atividades:createEdificio' %}"> + Adicionar edifício</a>

    	    	<table class="table">
                    <thead>
                        <tr>
                            {% if order_by == "campusid__nome" %}
                            <th style="width: 25%" class="Sortable Campus {{direction}} tableBorderH" scope="col">Campus
                            {% if direction == 'asc'%} 
                                <i class="fas fa-caret-up fa-xs"></i>
                            {% elif direction == 'desc' %}
                                <i class="fas fa-caret-down fa-xs"></i>
                            {% endif %}
                            </th>
                            {% else %}
                            <th scope="col" class="Sortable Campus tableBorderH" style="width: 25%"> Campus</th>
                            {% endif  %}
                            {% if order_by == "nome_edificio" %}
                            <th style="width: 25%" class="Sortable Nome {{direction}} tableBorderH" scope="col">Nome
                            {% if direction == 'asc'%} 
                                <i class="fas fa-caret-up fa-xs"></i>
                            {% elif direction == 'desc' %}
                                <i class="fas fa-caret-down fa-xs"></i>
                            {% endif %}
                            </th>
                            {% else %}
                            <th scope="col" class="Sortable Nome tableBorderH" style="width: 25%"> Nome</th>
                            {% endif  %}
                            {% if order_by == "num_edificio" %}
                            <th style="width: 25%" class="Sortable Numero {{direction}} tableBorderH" scope="col">Número
                            {% if direction == 'asc'%} 
                                <i class="fas fa-caret-up fa-xs"></i>
                            {% elif direction == 'desc' %}
                                <i class="fas fa-caret-down fa-xs"></i>
                            {% endif %}
                            </th>
                            {% else %}
                            <th scope="col" class="Sortable Numero tableBorderH" style="width: 25%"> Número</th>
                            {% endif  %}
                            <th scope="col"></th>
							<th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
						{% for edificio in page_obj %}
                        	<tr>
                        	    <td>{{ edificio.campusid.nome}}</td>
                        	    <td>{{ edificio.nome_edificio}}</td>
                                <td>{{ edificio.num_edificio }}</td>
                        	    <td><a class="btn btn-outline-success far fa-edit" href="{% url 'atividades:updateEdificio' id=edificio.id %}"></a></td>
                        	    <td><a href="" class="delete btn btn-outline-danger fas fa-trash-alt" data-toggle="modal" data-target="#Modal" data-id="{% url 'atividades:deleteEdificio' id=edificio.id %}"></a></td>
                        	</tr>
						{% endfor %}
                    </tbody>
                </table>

				<div class="pagination d-flex justify-content-end">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <button class="btn btn-outline-secondary  fas fa-angle-double-left page" data-page="1"></button>
                            <button class="btn btn-outline-secondary  fas fa-angle-left page" data-page="{{page_obj.previous_page_number}}"></button>
                        {% endif %}

                        <span class="current">{{ page_obj.number }}</span>

                        {% if page_obj.has_next %}
                            <button class="btn btn-outline-secondary  fas fa-angle-right page" data-page="{{page_obj.next_page_number}}"></button>
                            <button class="btn btn-outline-secondary  fas fa-angle-double-right page" data-page="{{page_obj.paginator.num_pages}}"></button>
                        {% endif %}
                    </span>
                </div>

			</div>
        </div>

        <div class="modal fade" id="Modal">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Aviso</h4>
                                          <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>
                                        
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          Tem a certeza que pretende remover?
                                        </div>
                                        
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form id="deleteModal" action="" method="post">
                                                {% csrf_token %}
                                          <button type=submit" class="btn btn-success" >Sim</button>
                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                                      </form>
                                        </div>        
                                      </div>
                                    </div>
                                  </div>

	{% endblock %}
	
	{% block js %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript">
        $(function () {
            $('.delete').click(function (){
                var data_var = $(this).data('id');
                $("#deleteModal").attr("action", data_var);
            })
        });

        $('th.Sortable').click(function(){

    var form = $('#formfilters')

    if($(this).hasClass('Nome')){
        if($(this).hasClass('asc')){
            form.find("#id_order_by").val("nome_edificio")
            form.find("#id_direction").val("desc")
        }else{
            form.find("#id_order_by").val("nome_edificio")
            form.find("#id_direction").val("asc")    
        }
    }
    else if($(this).hasClass('Campus')){
        if($(this).hasClass('asc')){
            form.find("#id_order_by").val("campusid__nome")
            form.find("#id_direction").val("desc")
        }else{
            form.find("#id_order_by").val("campusid__nome")
            form.find("#id_direction").val("asc")    
        }
    }
    else if($(this).hasClass('Numero')){
        if($(this).hasClass('asc')){
            form.find("#id_order_by").val("num_edificio")
            form.find("#id_direction").val("desc")
        }else{
            form.find("#id_order_by").val("num_edificio")
            form.find("#id_direction").val("asc")    
        }
    }
    form.submit()
})

$('button.page').click(function(){
    var page = $(this).data('page')
    var form = $('#formfilters')
    form.find("#id_page").val(page)
    form.submit()
})

$(document).ready( function(){
    $('th.Sortable').each(function(){
        $(this).has('i').addClass('tableBorder')
    })
})
     </script>
     {% endblock %}
