{% extends "diaAbertoConf/Home.html" %}
	
	{% block css%}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'diaAbertoConf/Transporte.css' %}">
	{% endblock%}
	
	{% block content %}
    	<div class="mt-3 mx-2">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
					<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:allTransportes' %}">Transportes</a></li>
					<li class="breadcrumb-item active">Editar Transporte</li>
				</ol>
			</nav>
    	    <div class = "row">
    		    <div class = "col-sm-4 offset-sm-4">
                    <h4 style="text-align:center;">Editar Transporte</h4>
    		    </div>
            </div>
			<hr class="mx-5">
    	    <div class = "row">
    		    <div class = "col-sm-6 offset-sm-3">
					<form action = "{% url 'diaAbertoConf:updateTransporte' id=dadosTransporte.id %}" method="post">
						{% csrf_token %}
 						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
    							<label>{{ transporteform.tipo_transporte.label }}</label>
							</div>
    						<div class="col-sm-8">
								{{ transporteform.tipo_transporte }}
    						</div>
  						</div>
  						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
    							<label>{{ transporteform.capacidade.label }}</label>
							</div>
    						<div class="col-sm-8">
      							{{ transporteform.capacidade }}
    						</div>
  						</div>
						<hr>
						{{rotaformset.management_form}}
						{% for rota in rotaformset %}
							<div class="rota-form-comp"> 
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.origem.label}}</label>
									</div>
    								<div class="col-sm-8">
										{{ rota.origem }}
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.destino.label}}</label>
									</div>
    								<div class="col-sm-8">
										{{ rota.destino }}
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.data.label}}</label>
									</div>
    								<div class="col-sm-8">
      									<input id="id_form-{{ forloop.counter0 }}-data" type="date" name="form-{{ forloop.counter0 }}-data" value="{{rota.data.value |date:"Y-m-d"}}" class="form-control date-Set" required min="{{diaAberto.data_inicio}}" max="{{diaAberto.data_fim}}">
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-4 col-form-label">
										<label>{{ rota.horarioid.label}}</label>
									</div>
    								<div class="col-sm-8 multiselect">
										<div class="selectBox">
											<select class="form-control"><option>Selecione os Horários</option></select>
											<div class="overSelect"></div>
										</div>
										<div id="checkboxes" class="checkboxes">
											{{rota.horarioid}}
    									</div>
    								</div>
  								</div>
								<div class="form-group row">
									<div class="col-sm-10">
										<button class="remove-form-row btn btn-outline-danger mr-3">Remover Rota</button>
										<button class="add-form-row btn btn-outline-success">Adicionar Rota</button>
									</div>								
								</div>
							<hr>
							</div>
						{% endfor %}
						<div class="form-group row">
							<div class="col-sm-2">
								<a type="button" class="btn btn-secondary" href="{% url 'diaAbertoConf:allTransportes' %}">Cancelar</a>
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-primary">Editar</button>
							</div>
						</div>
					</form>
    		    </div>
    	    </div>
    	</div>

	{% endblock %}
	{% block js %}
	{% load static %}
		<script src={% static "diaAbertoConf/Transporte.js" %}></script>
    	<script type='text/javascript'>
			$(window).on('load' ,function exampleFunction() { 
				$('.rota-form-comp').each(function(){
					$(this).find('.add-form-row').hide();
				})
				$('.rota-form-comp').last().find('.add-form-row').show();
        	})

		</script>
	{% endblock %}

	