<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="icon" href="{% static "diaAbertoConf/logo.png" %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "diaAbertoConf/home.css" %}">
		{% block css %}
		{% endblock %}

        <title>Dia Aberto Ualg</title>
    </head>
    <body>
		<div class="bg-color" id="page-container">

			<div id="content-wrap"> 
        		<nav class="navbar navbar-expand-lg navbar-light bg-white">
        		  	<a href="{% url 'diaAbertoConf:index' %}"><img src="{% static "diaAbertoConf/logo-navbar.png" %}"></a>
        		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        		    	<span class="navbar-toggler-icon"></span>
        		  	</button>
        		  	<div class="collapse navbar-collapse" id="navbarNav">
					{% block navContent %}
        		    	<ul class="navbar-nav mr-auto">
							<li class="nav-item">
        		        		<a class="nav-link" href="#">Inscrições</a>
        		      		</li>
        		      		<li class="nav-item dropdown">
        						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Atividades
        						</a>
        						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          							<a class="dropdown-item" href="{% url 'atividades:allAtividades'%}">Atividades</a>
          							<a class="dropdown-item" href="{% url 'atividades:allEdificios'%}">Edifícios</a>
          							<a class="dropdown-item" href="{% url 'atividades:allCampus'%}">Campus</a>
          							<a class="dropdown-item" href="{% url 'atividades:allLocais'%}">Locais</a>
          							<a class="dropdown-item" href="{% url 'atividades:allUnidadeOrganicas'%}">Unidade Orgânicas</a>
          							<a class="dropdown-item" href="{% url 'atividades:allDepartamentos'%}">Departamentos</a>
          							<a class="dropdown-item" href="{% url 'atividades:allTematicas'%}">Temáticas</a>
          							<a class="dropdown-item" href="{% url 'atividades:allMateriais'%}">Materiais</a>
          							<a class="dropdown-item" href="{% url 'atividades:allSessoes'%}">Horários de Sessões</a>
								</div>
     						</li>
							<li class="nav-item">
        		        		<a class="nav-link" href="{% url 'diaAbertoConf:editConfig' %}">Configuração do Dia Aberto</a>
        		      		</li>        	      		
        		      		<li class="nav-item dropdown">
        						<a class="nav-link dropdown-toggle" href="#" id="DiaAbertoConfNavbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          							Transportes
        						</a>
        						<div class="dropdown-menu" aria-labelledby="DiaAbertoConfNavbar">
        							<a class="dropdown-item" href="{% url 'diaAbertoConf:allTransportes'%}">Gestão de Transportes</a>
        						  	<a class="dropdown-item" href="{% url 'diaAbertoConf:allHorarios'%}">Horários de Transportes</a>
        						</div>
      						</li>
        		      		<li class="nav-item">
        		        		<a class="nav-link" href="{% url 'diaAbertoConf:gestaoEmentas'%}">Almoços</a>
        		      		</li>
							<li class="nav-item">
        		        		<a class="nav-link" href="{% url 'tarefas:showTarefas' %}">Tarefas</a>
        		      		</li>
						</ul>
					{% endblock %}
					{% block navButtons %}
						<ul class="navbar-nav">
      						<li class="nav-item dropdown mx-1">
								<button class="btn nav-link" type="button" data-toggle="dropdown">
									<i class="fas fa-bell"></i>
									<span class="badge badge-warning">0</span>

								</button>
								<ul class="dropdown-menu dropdown-menu-right dropdown-width">
      							 	<li><b class="d-flex justify-content-center">Notificações</b></li>
									<li><p class="dropdown-divider"></p></li>
      							 	<li><p class="ml-3 text-muted text-sizing">Não tem Notificações!</p></li>
									<li><p class="dropdown-divider"></p></li>
									<li><a class="ml-3" href="#">Ver todas as notificações</a></li>
      							</ul>
							</li>
							<li class="nav-item dropdown  mx-1">
								<button class="btn nav-link" type="button" data-toggle="dropdown">
									<i class="fas fa-user-circle"></i>							
								</button>
								<ul class="dropdown-menu dropdown-menu-right dropdown-width">
      							 	<li><a class="ml-3 nav-link text-sizing" href="#">Participante Individual</a></li>
									<li><a class="ml-3 nav-link text-sizing" href="#">Professor Secundário</a></li>
									<li><a class="ml-3 nav-link text-sizing" href="#">Colaborador</a></li>
									<li><a class="ml-3 nav-link text-sizing" href="#">Professor Universitário</a></li>
									<li><a class="ml-3 nav-link text-sizing" href="#">Coordenador</a></li>
									<li><a class="ml-3 nav-link text-sizing" href="#">Administrador</a></li>
      							</ul>
							</li>
							<li class="nav-item  mx-1">
								<button class="btn nav-link" type="button">
									<i class="fas fa-sign-out-alt"></i> Sair
								</button>
							</li>
        		    	</ul>
					{% endblock %}
        		  	</div>
        		</nav>
				<div class="mt-5 mx-5 px-3 mb-4">
					<div class="card body">	
						{% block content %}
							<div class="row pt-5 mt-3 mb-4 mx-2">
								<div class="col-xs-7 col-sm-7 col-md-7 px-5">
									<h2 class="card-title d-flex justify-content-center">{%if diaAbertoData%}{{diaAbertoData.titulo}}{% else %}Plataforma Dia Aberto{% endif %}</h2>
									<h5 class="card-subtitle mb-4 d-flex justify-content-center">
										{%if diaAbertoData%}
											{% if diaAbertoData.data_fim == diaAbertoData.data_inicio %}
											{{diaAbertoData.data_inicio|date:"d/m/Y"}}
											{% else %}
											De {{diaAbertoData.data_inicio|date:"d/m/Y"}} a {{diaAbertoData.data_fim|date:"d/m/Y"}}
											{% endif %}
										{% else %}
											Simples, Intuitivo, Limpo.
										{% endif %}
									</h5>
									{% if diaAbertoData %}
										<p>{{diaAbertoData.descricao}}</p> 
									{% else %}
										A plataforma online do Dia Aberto foi renovada pelos alunos em âmbito do curso de Licenciatura de Engenharia Informática.
									{% endif %}
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<img src="{% static "diaAbertoConf/logo-large.png" %}" width="100%" height="100%">
								</div>
							</div>
							<div class="row jumbotron bg-light mx-4">
									<div class="col-xs-7 col-sm-7 col-md-7">
									{% if diaAbertoData %}
										<p>Período de inscricoes de participantes de {{diaAbertoData.data_inicio_inscricao|date:"d/m/Y"}} a {{diaAbertoData.data_fim_inscricao|date:"d/m/Y"}}</p>
										<p>Período de proposta de atividades de  {{diaAbertoData.data_inicio_propor_atividades|date:"d/m/Y"}} a {{diaAbertoData.data_fim_propor_atividades|date:"d/m/Y"}}</p>
										<p>Contacto de suporte: <a href="">{{diaAbertoData.email}}</a> ou <a href="">{{diaAbertoData.contacto}}</a><p>
									{% else %}
										<p>2019 Dia Aberto por Grupo 9</p>
										<p>Contacto de suporte: <a href="">suporte.dia.aberto@ualg.pt</a></p>
									{% endif %}
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-end">
										<img src="{% static "diaAbertoConf/ualg-logo.png" %}" height="90%" width="90%">
									</div>
							</div>
						{% endblock %}
					</div>
				</div>
			</div>
			<footer id=footer>
				<div class="border-top px-5 py-3 bg-white">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-start">
						(c) 2020
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-center">
						Dia Aberto
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-end">
						Designed by Grupo 9
						</div>
					</div>
				</div>
			</footer>
		</div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% block js %}
		{% endblock %}
	</body>
</html>

