<head>
	{% load static %}
    
     <!--Compiled and minified CSS -->
    

     <!--Compiled and minified JavaScript  -->


     	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- ALWAYS first these -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- ### -->
		<!-- Datatable -->
		<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
		<!-- End Datable -->
		<link rel="stylesheet" href="{% static '/main/css/activities/activities.css' %}">
		<link rel="stylesheet" href="{% static '/main/css/main_table/rows_arrows.css' %}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
		<!-- datepicker -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<!-- end datepicker -->
		<!-- timepicker -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/main/css/lib/tpicker.css' %}">
		<script type="text/javascript" src="{% static '/main/js/lib/tpicker.js' %}"></script>
		<!-- end timepicker -->
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


		{% block style %} {% endblock style %}
</head>


<!--script src="{% static 'tinymce/js/prism.js' %}"></script-->