{% extends "main/header.html" %}
		
		
  
{% block content %}
<!-- caixas blog -->
  <h1><center>Forneça os dados de transporte</center> </h1>
<br>

	
<p> </p>
<p> </p>

	<ul class="pager">
  		<li class="previous"><a href="{% url 'main:register_col' %}">Previous</a></li>
  		<li class="next"><a href="#">Next</a></li>
	</ul>

	<!--<input type="submit" class="btn btn-success" value="Submit">-->
	<!--<button type="button" class="btn btn-success">Sumbeter</button>-->


	<p> </p>
	Se já possui uma conta, faça <a href="/login"><strong>login</a></strong>.



{% endblock %}