.dark-text{
    color: black;
}

.bg-color{
    background-image: linear-gradient(#2478d6 0%, #2478d6 50% ,#F8F8F8 50%, #F8F8F8 100%);
}

.text-sizing{
    font-size: 14px;
}

.dropdown-width{
    width: 250px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}